- user = User.find_by(id: comment.user_id)
.well.well-sm
  %span.user
    - if user
      = user.email
    - else
      Anonim
  %span.time
    = "Commented #{time_ago_in_words(comment.created_at)} ago"
  %span.comment
    = comment.text
  = render 'shared/admin_links', edit_path: nil, removed: comment
