%h1 Posts#index
= render 'shared/order'
-if user_signed_in? && current_user.admin?
  = link_to "Create new post", new_post_path, class: "btn btn-lg btn-success new_line"
%br
= will_paginate
= render @posts
= will_paginate
