%h1 Posts#new
%p Find me in app/views/posts/new.html.haml
= form_for(@post) do |f|
  = render 'shared/error_messages', object: f.object
  = f.label :title
  = f.text_field :title
  = f.label :body
  = f.text_area :body
  = f.submit "Create post", class: "btn btn-lg btn-primary"
